<!-- footer -->
  <footer class="site-footer">
    <div class="container">
      <div>
        <div class="col-md-3">
          <div>
            <br>
            <br>
            <a href="#">
              <img src="../assets/images/dentalLogo.jpg" alt="dental" height="90">
            </a>
          </div>
        </div>
        <div class="col-md-3 ">
          <h5 class="page-header text-header1">
            Address
          </h5>
          <p class="text-success">
            1234 Street Name
            <br>City, AA 99999
          </p>
        </div>
        <div class="col-md-3">
          <h5 class="page-header text-header1">
            Contacts
          </h5>
          <p class="text-success">
            Email: support@mobirise.com
            <br>Phone: +1 (0) 000 0000 001
            <br>Fax: +1 (0) 000 0000 002
          </p>
        </div>
        <div class="col-md-3">
          <h5 class="page-header text-header1">
            Links
          </h5>
          <p class="text-success">
            <a class="text-primary" href="https://mobirise.co/">Website builder</a>
            <br>
            <a class="text-primary" href="https://mobirise.co/">Download for Windows</a>
            <br>
            <a class="text-primary" href="https://mobirise.co/">Download for Mac</a>
          </p>
        </div>
      </div>
      <div class="footer-lower">
        <div class="media-container-row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
        <div class="media-container-row">
          <div class="col-sm-9 copyright">
            <p class="text-danger">
              <span class="fa fa-copyright"></span> Copyright 2018 Dental - All Rights Reserved
            </p>
          </div>
          <div class="col-md-3">

            <div style="float:right">
              <a href="#" target="_blank" class="fa fa-twitter" style="font-size:24px;color:#33F0FF">
              </a>&nbsp;
              <a href="#" target="_blank" class="fa fa-facebook-square" style="font-size:24px">
              </a>&nbsp;
              <a href="#" target="_blank" class="fa fa-youtube" style="font-size:24px;color: red"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->